name: bump version

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git tag $(awk -F'"' '/current_version/ {print $2; exit}' bumpver.toml)
          git push --tags

  bump:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.0
      - uses: actions/setup-python@v5.2.0
        with:
          python-version: 3.12.6
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          pip install -r requirements-bumpver.txt
          bumpver update --patch
