name: lint

on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.14.2
      - run: |
          pip install -r requirements-ansible.txt
          ansible-lint
