name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.13.7
      - run: |
          pip install -r requirements-ansible.txt
          ansible-galaxy role import --token "${{ secrets.ANSIBLE_GALAXY_TOKEN }}" $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
